.bs-nav {
    margin-bottom: 0;
    background-color: #4682B4;
    border-bottom: 0;
    color: white;
}

body > header > nav > div > ul > li > a {
    color: white;
}

.navbar-brand {
    color: white;
}